/*  


CSS ADAPTADO PARA XML 

Novo css adaptado a  praticas de html5, proposta intermediaria para resolver problemas paliativos
Realizado com base no DECRETO Nº 9.191, DE 1º DE NOVEMBRO DE 2017,  e na PORTARIA Nº 283, DE 2 DE OUTUBRO DE 2018 imprensa nacional
fev/2020 - jefersontadeus@gmail.com

normas

"f) indicar, expressamente, o dispositivo objeto de remissão, por meio do emprego da abreviatura “art.”, seguida do número correspondente, ordinal ou cardinal;" Art. 14. , DECRETO Nº 9.191, DE 1º DE NOVEMBRO DE 2017
os capítulos, os títulos, os livros e as partes são grafados em letras maiúsculas e identificados por algarismos romanos;  Art. 15.


XXII - na formatação do texto do ato normativo, utiliza-se:

a) fonte Calibri, corpo 12;

b) margem lateral esquerda de dois centímetros de largura;

c) margem lateral direita de um centímetro de largura; e

d) espaçamento simples entre linhas e de seis pontos após cada parágrafo, com uma linha em branco acrescida antes de cada parte, livro, título ou capítulo; 

I - o texto de cada artigo acrescido ou alterado será transcrito entre aspas, seguido da indicação de nova redação, representada pela expressão “(NR)”; 

a) reunir sob as categorias de agregação – livro, título, capítulo, seção e subseção – apenas as disposições relacionadas com a matéria nelas especificada; 


II - a numeração do artigo é separada do texto por dois espaços em branco, sem traços ou outros sinais; 
IV - o artigo desdobra-se em parágrafos ou em incisos e o parágrafo, em incisos; 
V - o parágrafo único é indicado pela expressão “Parágrafo único”, seguida de ponto e separada do texto normativo por dois espaços em branco; 
VI - os parágrafos são indicados pelo símbolo “§”, seguido de numeração ordinal até o nono e cardinal, acompanhada de ponto, a partir do décimo; 
VII - a numeração do parágrafo é separada do texto por dois espaços em branco, sem traços ou outros sinais; 
IX - os incisos são indicados por algarismos romanos seguidos de hífen, separado do algarismo e do texto por um espaço em branco; 
XIII - a alínea desdobra-se em itens, indicados por algarismos arábicos, seguidos de ponto e separados do texto por um espaço em branco; 


paragrafo   
incisos 


1. “Lei nº 8.112, de 11 de dezembro de 1990”, na ementa, no preâmbulo e na primeira remissão no corpo da norma; e

2. “Lei nº 8.112, de 1990”, nos demais casos; 
=================================================================


BOTÕES A SE  CRIAR:

art. 1&nbsp;&nbsp; (lista enumerada ) - artigo
Parágrafo Único (bull?) -Paragrafo unico
§&nbsp; (bull?) - decimo parágrafo pra frente
§ 1º&nbsp; - artigo ate o 9
I -&nbsp; - inciso
1.&nbsp; - alínea



FORMATO A SE CRIAR: 



ATRIBUTOS:
margem lateral esquerca de dois centimetros
margem lateral direita de um centimetro
a) fonte Calibri, corpo 12;




WhiteSmoke


rot_par1
rot_par10

*/

p{
	padding-bottom: 0.25em !important;
	padding-left: 1,25em !important;
	padding-right: 1em !important;
	margin-left: 1em !important;
}
a{
	text-decoration: none;
	color: Blue !important;
}

body{
	background-color: Snow;
}
   
div.dataAttached{
	background: Cornsilk;
	border-radius: 10px;
  	width: 90%;
  	height: auto;
  	color: DarkSlateGrey;
    padding-left: 13px;
    padding-right: 8px;
   	margin: auto;
   	text-indent: 24px;


}

.alinea{
}

.artigo {
	/* display: block; */
	font-family: Calibri, serif;
	font-weight: normal;
	text-align: justify;
}

.assinatura {
	display: block;
	font-weight: bold
}
.avisos {
	cursor: pointer;
}
.avisos-chamada{
	margin: 2em;
	padding: 2em;
	display: inline;
	font-style: italic;
	font-size: "smaller" !important;
}
.avisos-chamada-gerais{
	color: DarkGreen;
}
.avisos-chamada-revogado{
	color: red;	
}



.brasao{
	display: block;
	background-image: url("http://www.planalto.gov.br/ccivil_03/decreto/Brastra.gif") !important ;
 	height: 100px;
 	width: 100px;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em 
}
.cabecalho {
	display: block;
	text-align: center;
	padding-bottom: 2.0em;
	

}
.capitulo{
	display: block;
	text-align: center !important;
	text-transform: uppercase !important;
	margin-top: 2em; 
	margin-bottom:2.5em;

	
}
.caput{
	display: inline;

	/* */
}

.dataAssinatura{
	display: inline;
	font-style: italic
}
.denominacao{
	/* display: block; */
	cursor: pointer;
	font-weight: bold !important;
}

.enum_inc{
	display: inline;
}
.enum_parum{
	display: inline;
}
.enum_par1{
	display: inline;
}
.epigrafe{
	 display: block; 
	text-align: center !important;
	text-transform: uppercase !important;
	padding-bottom: 2.0em;

}

.ementa{
	display: block;
	color: SteelBlue;
	padding-left: 50% !important;
	font-size: "xxx-small"
}
.inciso{
	/* display: block;		counter-reset: artCounter;	
*/
}
.norma{
	display: block;
	font-family: Calibri, Times, serif !important;
	font-weight: normal;
	font-size: small ;
    text-align: justify;
	color: #000000;
	text-indent: 24px;
	padding-bottom: 0.25em;
	padding: 1,2em ;
	
}

.lawLink{
	font-size: "smaller"

}
.livro{
	display: block;	
	text-transform: uppercase;    
}
.normaRelacionada{
	/*    */    
}
.novaRedacao{
	/*    */
	display: inline;

}
.novaRedacao p::after{
	display: inline;
	content: " (NR) "
}

.norma_title-president {
	content: "Presidência da República";
	display: block;
	margin-top: inherit;
	text-align: inherit;
	color: inherit;
	font-size: xx-large;
	font-weight : bold;
	display: block;

}
.norma_title-president::before{
	content: "Presidência da República";
}
.norma_title-secretaria {
	display: block;
	margin-top: inherit;
	text-align: inherit;
	color: inherit;
	font-size: x-large;   
}
.norma_title-secretaria::before{
	content: "Secretaria-Geral";
}
.norma_title-subchefia {
	display: block;
	margin-top: inherit;
	text-align: inherit;
	color: inherit;
	font-size: large;    
}
.norma_title-subchefia::before{
	content: "Subchefia para Assuntos Jurídicos ";
	
}

.paragrafo{
	/*display: block;*/

}
.preambulo{
	padding-bottom: 2.0em;
	display: block;
	text-align: center;

}
.rotulo {
	display: block;
	text-align: center;
	padding-bottom: 2.0em;


}
/*.rot_lei{
	display: inline;
	margin-top: inherit;
	text-align: inherit;
	color: inherit;
	font-size: medium;
	font-weight: bold;
}
*/

.revogado {
	display: inline;

	text-decoration: line-through !important;
	color: dimgrey !important;
}
.secao{
	display: block;
	text-align: center !important;
	font-weight : bold !important;
	margin-top: 2em; 
	margin-bottom:2.5em;


}
.subsecao{
	display: block;
	font-weight: bold !important;
	text-align: center !important;

	/*    */
}

.referenda {
	display: block;
	/*    */
}
.titulo{
	display: block;
	text-transform: uppercase !important;    
	text-align: center !important;
	line-height:1.5em; 
	margin-bottom:2.2em;
	margin-top:2.2em;


}
.vigencia{
	font-size: x-small;   
}





